## 数据读取

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#%atplotlib inline
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['font.sans-serif'] = ['SimHei']  #用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False  #用来正常显示负号

In [45]:
df = pd.read_csv('python_jobs_all_0918.csv',
                 names=[
                     'job_name', 'job_salary', 'job_info', 'job_stars',
                     'job_category', 'job_description', 'job_contact',
                     'company_name', 'company_type', 'company_size',
                     'company_industry', 'company_introduction', 'job_link',
                     'company_url'
                 ])
df.head()

,job_name,job_salary,job_info,job_stars,job_category,job_description,job_contact,company_name,company_type,company_size,company_industry,company_introduction,job_link,company_url
0,python工程化,1.2-1.8万/月,上海-徐汇区 | 5-7年经验 | 大专 | 招5人 | 09-06发布,"五险一金,员工旅游,专业培训,年终奖金,定期体检",其他,"岗位职责：,1. 对相关需求进行分析；,2. 利用python进行数据处理及数据分析,需求描述：",上海徐汇区凯宾路206号上海平安大厦,深圳市网新新思软件有限公司,民营公司,1000-5000人,计算机服务(系统、数据服务、维修),浙大网新 www.insigma.com.cn （上证600797）创立于2001年9月，是...,https://jobs.51job.com/shanghai-xhq/125213120....,https://jobs.51job.com/all/co3749227.html
1,Python开发工程师,6-8千/月,深圳-福田区 | 1年经验 | 大专 | 招若干人 | 09-06发布,"五险一金,专业培训,周末双休,节日活动,员工旅游","Python开发工程师,软件工程师","Python开发工程师 6k-8k,工作职责：,1. 独立完成软件系统代码的设计与实现；...",中康路奥士达大厦,深圳法通科技有限公司,民营公司,50-150人,计算机软件\r\n 计...,法通科技有限公司自创立时起就以为律师、律所等法律服务机构创设个人网站为业务内容，是被客户们评...,https://jobs.51job.com/shenzhen-ftq/124187571....,https://jobs.51job.com/all/co2779692.html
2,软件测试工程师(python)12k,1.2-1.3万/月,上海-徐汇区 | 1年经验 | 本科 | 招若干人 | 09-06发布,NaN,"功能测试,性能测试","? 负责执行测试计划和维护自动化测试，开发测试用例； ,? 配合开发团队及时跟踪、分析、解决...",汇京国际广场,上海陟明信息技术有限责任公司,民营公司,50-150人,计算机服务(系统、数据服务、维修),上海陟明信息技术有限责任公司成立于2018年，注册资金5000万***。公司致力于深刻了解客...,https://jobs.51job.com/shanghai-xhq/125096516....,https://jobs.51job.com/all/co5529077.html
3,"C++,Python编程猫教师(北滘）",0.6-1万/月,佛山-顺德区 | 1年经验 | 本科 | 招3人 | 09-06发布 | ...,"五险一金,弹性工作,专业培训,绩效奖金,年终奖金,股票期权,暑假,寒假,员工旅游","储备干部,小学教师","岗位职责：,1.按照编程猫总部课件,每周备课,练课,完成每周教学工作.,2.跟学员和学员家长...",北滘镇悦然广场二八印象二楼,佛山市蒂帕文化传播有限公司,民营公司,50-150人,教育/培训/院校,"编程猫是目前国内最受欢迎的少儿编程教育平台,平台依据少儿学习特点与中国现代教育理念来设计,采...",https://jobs.51job.com/foshan-sdq/123994492.ht...,https://jobs.51job.com/all/co4168501.html
4,Python实习生,4.5-6千/月,苏州-工业园区 | 在校生/应届生 | 大专 | 招4人 | 09-06发布,"做五休二,周末双休,带薪年假,交通补贴,绩效奖金",软件工程师,"【工作内容】,1. 从事公司的软件项目 软件产品的研发；,2. 其他相关技术、研发工作；,【...",工业园区,苏州华佩科技有限公司,民营公司,少于50人,计算机软件,我司致力于网络技术的技术开发、专业的设计服务。在程序语言的基础上，生成一系列的虚拟图片，图像...,https://jobs.51job.com/suzhou-gyyq/123266467.h...,https://jobs.51job.com/all/co5836820.html

In [46]:
df.shape

(58344, 14)

In [47]:
df.isnull().sum()

job_name                   0
job_salary                 0
job_info                   0
job_stars               9300
job_category               2
job_description         5877
job_contact                0
company_name               0
company_type              18
company_size             460
company_industry           0
company_introduction       0
job_link                   0
company_url                0
dtype: int64

In [48]:
df.isnull().sum()/df.count()

job_name                0.000000
job_salary              0.000000
job_info                0.000000
job_stars               0.189626
job_category            0.000034
job_description         0.112013
job_contact             0.000000
company_name            0.000000
company_type            0.000309
company_size            0.007947
company_industry        0.000000
company_introduction    0.000000
job_link                0.000000
company_url             0.000000
dtype: float64

## 数据清洗

In [49]:
# 删除联系方式，工作和公司链接的列，只作为分析之外使用
df = df.drop(['job_contact', 'job_link', 'company_url'], axis=1)

In [50]:
# 数据在不同天采集，有重复，要删除
df = df.drop_duplicates(subset=['job_name', 'company_name'], keep='last')

In [51]:
# 去掉按天，按时计薪的工作
df = df[~df['job_salary'].str.endswith('元/天')]
df = df[~df['job_salary'].str.endswith('元/小时')]
df = df[~df['job_salary'].str.endswith('万以上/月')]

In [52]:
# 区分薪酬区间
df['min_salary'] = 1
df['max_salary'] = 1

In [53]:
# 处理薪酬的函数
def parse_salary(sr):
    if sr.endswith('万/年'):
        sr = sr.replace('万/年', '')
        min_salary, max_salary = sr.split('-')
        min_salary = round(float(min_salary) * 10000 / 12)
        max_salary = round(float(max_salary) * 10000 / 12)
        return min_salary, max_salary
    elif sr.endswith('万/月'):
        sr = sr.replace('万/月', '')
        min_salary, max_salary = sr.split('-')
        min_salary = round(float(min_salary) * 10000)
        max_salary = round(float(max_salary) * 10000)
        return min_salary, max_salary
    elif sr.endswith('千/月'):
        sr = sr.replace('千/月', '')
        min_salary, max_salary = sr.split('-')
        min_salary = round(float(min_salary) * 1000)
        max_salary = round(float(max_salary) * 1000)
        return min_salary, max_salary
    else:
        return np.nan, np.nan

In [54]:
# 得到薪酬区间
temp_df = df['job_salary'].apply(parse_salary)

df['min_salary'] = temp_df.apply(lambda x: x[0])
df['max_salary'] = temp_df.apply(lambda x: x[1])

In [55]:
df = df.drop('job_salary', axis=1)
df.sample(5)

,job_name,job_info,job_stars,job_category,job_description,company_name,company_type,company_size,company_industry,company_introduction,min_salary,max_salary
58305,系统测试工程师,深圳-南山区 | 3-4年经验 | 本科 | 招1人 | 09-18发布,"五险一金,员工旅游,股票期权,专业培训,定期体检,补充医疗保险,年终奖金,绩效奖金,弹性工作...","系统测试,测试工程师","1、独立负责智能终端产品的系统测试；,2、制定测试计划、编写测试用例，跟进问题解决进度；,3...",深圳瑞为智能科技有限公司,民营公司,150-500人,计算机软件,厦门瑞为信息技术有限公司（瑞为技术）是厦门市政府“双百计划”首批重点引进企业，成立于2012...,12000.0,18000.0
46436,运维工程师,杭州-西湖区 | 2年经验 | 本科 | 招3人 | 09-17发布,"周末双休,带薪年假,五险一金,高温补贴,交通补贴,餐饮补贴,做五休二,加班补贴","技术支持/维护工程师,技术支持/维护经理","岗位职责:,1、负责Linux各版本系统的安装部署、性能调优、运行管理以及日常的系统维护；,...",上海浦东华宇信息技术有限公司,民营公司,150-500人,计算机软件\r\n 计...,上海浦东华宇信息技术有限公司（以下简称浦东华宇）是北京华宇软件股份有限公司的全资子公司（公司...,10000.0,20000.0
53795,Python开发,东莞-南城区 | 在校生/应届生 | 大专 | 招若干人 | 09-18发布,NaN,Python开发工程师,"岗位职责：, 1、主要负责Web开发和维护，会涉及到小部分爬虫和脚本的开发...",成都启锋科技有限公司,民营公司,150-500人,专业服务(咨询、人力资源、财会)\r\n ...,成都启锋科技有限公司成立于2014年，由广西红色旗帜旅游发展有限公司投资设立。启锋科技始终坚...,6000.0,11000.0
56224,大数据专业老师,邓州 | 3-4年经验 | 本科 | 招2人 | 09-18发布,"周末双休,交通补贴,餐饮补贴,员工旅游","其他,培训讲师","1、负责大数据专业日常授课工作，承担一门或多门课程教学以及教学资料编制；,2、负责校区教学资...",无锡中兴教育管理有限公司,民营公司,150-500人,教育/培训/院校\r\n ...,无锡中兴教育管理有限公司专注于高等院校产教融合领域的教育服务，致力于成为业内领先的ICT产业...,6000.0,11000.0
33424,网站运营专员,广州-南沙区 | 3-4年经验 | 本科 | 招1人 | 09-14发布,"五险一金,员工旅游,年终奖金,绩效奖金,弹性工作,定期体检,15天带薪年假",网站运营专员,岗位职责：,点金互联网科技（广州）有限公司,外资（非欧美）,50-150人,互联网/电子商务\r\n ...,点金互联网科技（广州）有限公司——综合矿务解决方案提供商。点金互联网成立于2018年，位于广...,6000.0,8000.0

In [56]:
# 中位数薪酬更有参考意义
df['mid_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [57]:
# 处理工作基本信息的函数
def parse_info(sr):
    lst = sr.split('|')
    place = lst[0].strip()
    exp_years = lst[1].strip()
    education = lst[2].strip()
    return place, exp_years, education

In [58]:
# 得到工作地，工作经验，学历要求信息
temp_df = df['job_info'].apply(parse_info)

df['place'] = temp_df.apply(lambda x: x[0])
df['exp_years'] = temp_df.apply(lambda x: x[1])
df['education'] = temp_df.apply(lambda x: x[2])

In [59]:
# 有些信息错位，要再处理
df['exp_years'] = df['exp_years'].str.replace(r'招.+', 'NA')
df['exp_years'] = df['exp_years'].str.replace(r'本科|大专|硕士|博士', 'NA')

df['education'] = df['education'].str.replace(r'招.+', 'NA')
df['education'] = df['education'].str.replace(r'.*?发布', 'NA')

In [60]:
df = df.drop('job_info', axis=1)
df.sample(5)

,job_name,job_stars,job_category,job_description,company_name,company_type,company_size,company_industry,company_introduction,min_salary,max_salary,mid_salary,place,exp_years,education
56300,技术开发经理,"五险一金,交通补贴,餐饮补贴,专业培训,周末双休,节日福利",技术研发经理/主管,"岗位职责,任职要求：,、本科及以上学历，,年及以上开发工作经验（至少两年管理经验），有,、,...",上海英内物联网科技股份有限公司,上市公司,500-1000人,电子技术/半导体/集成电路,上海英内物联网科技股份有限公司上海英内物联网科技股份有限公司是国内首家专业从事RFID标签天...,15000.0,25000.0,20000.0,上海,5-7年经验,本科
58179,数据开发工程师,"弹性工作,专业培训",大数据开发工程师,"岗位描述：,1、负责实时或批量数据处理开发 ,2、参与数据应用或解决方案包的开发 ,3、编写...",数云信息技术（上海）有限公司,民营公司,150-500人,计算机软件\r\n 互...,杭州数云信息技术有限公司作为国内优秀的全域CRM产品和数据化营销服务提供商，秉承“让营销更有...,12000.0,17000.0,14500.0,上海,2年经验,本科
55640,数字金融平台开发工程师,"五险一金,补充医疗保险,带薪年假,全勤奖,节日福利","数据仓库工程师,数据分析师",NaN,海尔集团金融控股有限公司,上市公司,500-1000人,金融/投资/证券,"海尔金融集团根据海尔集团全球化、多元化发展战略，金融业务将是海尔集团重点发展的支柱产业之一,...",15000.0,25000.0,20000.0,成都-武侯区,2年经验,本科
21548,高级运维开发工程师,"弹性工作,五险一金,绩效奖金,年终奖金,出国机会",运维工程师,"1、负责开发公司级DevOps工程效率平台；,2、通过框架、平台、工具、流程建设提高平台的质...",敦煌网,外资（非欧美）,500-1000人,互联网/电子商务\r\n ...,敦煌网由王树彤于2004年创立，是中国***个B2B跨境电子商务交易平台。敦煌是中国古代丝绸...,15000.0,25000.0,20000.0,深圳-福田区,2年经验,本科
22077,C++量化助理工程师,NaN,C/C++开发工程师,"1.协助工程师开发和测试量化交易系统,2.协助交易员测试和维护交易系统,3.协助运维人员撰写...",上海弈倍投资管理有限公司,民营公司,少于50人,金融/投资/证券,上海弈倍投资管理有限公司是国内一家新锐的从事证券投资的私募基金管理公司，公司一直致力于钻研证...,12000.0,16000.0,14000.0,上海-浦东新区,3-4年经验,本科

In [61]:
# 检查其它数据
df['company_name'].unique().shape

(9219,)

In [62]:
df['job_name'].unique().shape

(6061,)

In [63]:
df['job_category'].unique().shape

(1823,)

In [64]:
df['company_industry'] = df['company_industry'].str.replace('\r','').str.replace(' ', '')
df['company_industry'] = df['company_industry'].str.replace('\n', ',')
df['company_industry'].unique().shape

(817,)

In [65]:
# df.to_csv(r'python_jobs_all3_format.csv', index=False)

## 数据合并

In [72]:
df1=pd.read_csv('python_jobs_all1_format.csv')
df2=pd.read_csv('python_jobs_all2_format.csv')
df3=pd.read_csv('python_jobs_all3_format.csv')

In [81]:
df1.shape

(4873, 15)

In [82]:
df2.shape

(2717, 15)

In [83]:
df3.shape

(11517, 15)

In [84]:
df=pd.concat([df1, df2, df3], axis=0)

In [85]:
df.shape

(19107, 15)

In [87]:
# 数据在不同天采集，有重复，要删除
df = df.drop_duplicates(subset=['job_name', 'company_name'], keep='last')

In [88]:
df.shape

(12210, 15)

In [89]:
df.to_csv(r'python_jobs_all_format.csv', index=False)