In [3]:
data = {
    "Jack": 182,
    "Tom": 176,
    "Jerry": 179,
    "Emily": 165,
    "Sawyer": 170,
    "Chris": 160
}
# 按照字典的value值，逆序排序，用.items()来保留两个元素
data_rev = sorted(data.items(), key=lambda x: x[1], reverse=True)
dict(data_rev)
# 按照字典的key值，自然顺序排序
data_nrev = sorted(data.items(), key=lambda x: x[0], reverse=False)
dict(data_nrev)

{'Chris': 160,
 'Emily': 165,
 'Jack': 182,
 'Jerry': 179,
 'Sawyer': 170,
 'Tom': 176}

In [4]:
names = ["Larissa", "ivy", "LUCY", "aBBY", "martion", "allen"]
list(map(lambda x: x[0].upper() + x[1:].lower(), names))

['Larissa', 'Ivy', 'Lucy', 'Abby', 'Martion', 'Allen']

In [10]:
import pandas as pd
import numpy as np
file = r'data_set/3-5 GDP.csv'
GDP_df = pd.read_csv(file, encoding='utf-8', header=0)
GDP_df.head()

,Country Name,longitude,latitude,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United Kingdom,-0.07858,51.50476,72328047042,76694360636,80601939635,85443766670,93387598814,101000000000,107000000000,...,2390000000000,2450000000000,2630000000000,2680000000000,2750000000000,3030000000000,2900000000000,2660000000000,2640000000000,2830000000000
1,United States,-77.04026,38.85169,543000000000,563000000000,605000000000,639000000000,686000000000,744000000000,815000000000,...,14400000000000,15000000000000,15500000000000,16200000000000,16800000000000,17500000000000,18200000000000,18700000000000,19500000000000,20500000000000
2,Russian Federation,37.59411,55.75306,,,,,,,,...,1220000000000,1520000000000,2050000000000,2210000000000,2300000000000,2060000000000,1360000000000,1280000000000,1580000000000,1660000000000
3,France,2.29363,48.87372,62651474947,68346741504,76313782252,85551113767,94906593388,102000000000,111000000000,...,2690000000000,2640000000000,2860000000000,2680000000000,2810000000000,2850000000000,2440000000000,2470000000000,2590000000000,2780000000000
4,China,116.39213,39.90071,59716467625,50056868958,47209359006,50706799903,59708343489,70436266147,76720285970,...,5100000000000,6090000000000,7550000000000,8530000000000,9570000000000,10400000000000,11000000000000,11100000000000,12100000000000,13600000000000

In [11]:
GDP_df.columns

Index(['Country Name      ', 'longitude', 'latitude', '1960        ',
       '1961        ', '1962        ', '1963        ', '1964        ',
       '1965        ', '1966        ', '1967        ', '1968        ',
       '1969         ', '1970         ', '1971         ', '1972         ',
       '1973         ', '1974         ', '1975         ', '1976         ',
       '1977         ', '1978         ', '1979         ', '1980         ',
       '1981         ', '1982         ', '1983         ', '1984         ',
       '1985         ', '1986         ', '1987         ', '1988         ',
       '1989         ', '1990         ', '1991         ', '1992         ',
       '1993         ', '1994         ', '1995         ', '1996         ',
       '1997         ', '1998         ', '1999         ', '2000          ',
       '2001          ', '2002          ', '2003          ', '2004          ',
       '2005          ', '2006          ', '2007          ', '2008          ',
       '2009          ', '2010          ', '2011          ', '2012          ',
       '2013          ', '2014          ', '2015          ', '2016          ',
       '2017          ', '2018'],
      dtype='object')

In [16]:
# map函数的能力是，将某一个规则作用于一个Series对象，这个规则可以是一个函数，或者是一个字典。
country_dict = {
    "United Kingdom    ": "英国",
    "United States     ": "美国",
    "Russian Federation": "俄罗斯",
    "France            ": "法国",
    "China             ": "中国"
}
GDP_df['国家'] = GDP_df['Country Name      '].map(country_dict)
GDP_df[['国家', 'Country Name      ']]

    国家  Country Name
0   英国  United Kingdom
1   美国  United States
2  俄罗斯  Russian Federation
3   法国  France
4   中国  China

In [17]:
# 定义函数:将数字类型美元计价GDP的变量转换为以万亿人民币为单位计价的数据
def dollar_to_rmb(x):
    if np.isnan(x):
        return np.nan
    else:
        _value = x / 1000000000000 * 6.8918
        return '%.2f万亿人民币' % (_value)


GDP_df['2018'].apply(dollar_to_rmb)

0     19.50万亿人民币
1    141.28万亿人民币
2     11.44万亿人民币
3     19.16万亿人民币
4     93.73万亿人民币
Name: 2018, dtype: object

In [19]:
GDP_df['2017          '].apply(lambda x: x if np.isnan(x) else "%.4f万亿人民币" %
                     (x / 1000000000000 * 6.8918))

0     18.1944万亿人民币
1    134.3901万亿人民币
2     10.8890万亿人民币
3     17.8498万亿人民币
4     83.3908万亿人民币
Name: 2017          , dtype: object

In [23]:
# 定义了一个计算GDP增长率的匿名函数
GDP_df[['2017          ', '2018']].apply(lambda x: '%.2f' % (
    (x['2018'] - x['2017          ']) / x['2017          '] * 100) + '%',
                               axis=1)

0     7.20%
1     5.13%
2     5.06%
3     7.34%
4    12.40%
dtype: object

In [26]:
# applymap()函数可以认为是apply()函数的扩展，其功能是将自定义函数作用于DataFrame的所有元素 。
GDP_df.loc[:, '1960        ':'2018'].applymap(dollar_to_rmb)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''