In [9]:
data = {
    "Jack": 182,
    "Tom": 176,
    "Jerry": 179,
    "Emily": 165,
    "Sawyer": 170,
    "Chris": 160
}
# 按照字典的value值，逆序排序，用.items()来保留两个元素
data_rev = sorted(data.items(), key=lambda x: x[1], reverse=True)
dict(data_rev)
# 按照字典的key值，自然顺序排序
data_nrev = sorted(data.items(), key=lambda x: x[0], reverse=False)
dict(data_nrev)

{'Chris': 160,
 'Emily': 165,
 'Jack': 182,
 'Jerry': 179,
 'Sawyer': 170,
 'Tom': 176}

In [13]:
names = ["Larissa", "ivy", "LUCY", "aBBY", "martion", "allen"]
list(map(lambda x: x[0].upper() + x[1:].lower(), names))

['Larissa', 'Ivy', 'Lucy', 'Abby', 'Martion', 'Allen']

In [14]:
import pandas as pd
import numpy as np
file = r'data_set/3-5 GDP.csv'
GDP_df = pd.read_csv(file, encoding='utf-8', header=0)
GDP_df.head()

,Country Name,longitude,latitude,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United Kingdom,-0.07858,51.50476,7.232805e+10,7.669436e+10,8.060194e+10,8.544377e+10,9.338760e+10,1.010000e+11,1.070000e+11,...,2390000000000,2450000000000,2630000000000,2680000000000,2750000000000,3030000000000,2900000000000,2660000000000,2640000000000,2830000000000
1,United States,-77.04026,38.85169,5.430000e+11,5.630000e+11,6.050000e+11,6.390000e+11,6.860000e+11,7.440000e+11,8.150000e+11,...,14400000000000,15000000000000,15500000000000,16200000000000,16800000000000,17500000000000,18200000000000,18700000000000,19500000000000,20500000000000
2,Russian Federation,37.59411,55.75306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1220000000000,1520000000000,2050000000000,2210000000000,2300000000000,2060000000000,1360000000000,1280000000000,1580000000000,1660000000000
3,France,2.29363,48.87372,6.265147e+10,6.834674e+10,7.631378e+10,8.555111e+10,9.490659e+10,1.020000e+11,1.110000e+11,...,2690000000000,2640000000000,2860000000000,2680000000000,2810000000000,2850000000000,2440000000000,2470000000000,2590000000000,2780000000000
4,China,116.39213,39.90071,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,...,5100000000000,6090000000000,7550000000000,8530000000000,9570000000000,10400000000000,11000000000000,11100000000000,12100000000000,13600000000000

In [15]:
# map函数的能力是，将某一个规则作用于一个Series对象，这个规则可以是一个函数，或者是一个字典。
country_dict = {
    "United Kingdom": "英国",
    "United States": "美国",
    "Russian Federation": "俄罗斯",
    "France": "法国",
    "China": "中国"
}
GDP_df['国家'] = GDP_df['Country Name'].map(country_dict)
GDP_df[['国家', 'Country Name']]

    国家        Country Name
0   英国      United Kingdom
1   美国       United States
2  俄罗斯  Russian Federation
3   法国              France
4   中国               China

In [20]:
# 定义函数:将数字类型美元计价GDP的变量转换为以万亿人民币为单位计价的数据
def dollar_to_rmb(x):
    if np.isnan(x):
        return np.nan
    else:
        _value = x / 1000000000000 * 6.8918
        return '%.2f万亿人民币' % (_value)


GDP_df['2018'].apply(dollar_to_rmb)

0     19.50万亿人民币
1    141.28万亿人民币
2     11.44万亿人民币
3     19.16万亿人民币
4     93.73万亿人民币
Name: 2018, dtype: object

In [23]:
GDP_df['2017'].apply(lambda x: x if np.isnan(x) else "%.4f万亿人民币" %
                     (x / 1000000000000 * 6.8918))

0     18.1944万亿人民币
1    134.3901万亿人民币
2     10.8890万亿人民币
3     17.8498万亿人民币
4     83.3908万亿人民币
Name: 2017, dtype: object

In [29]:
# 定义了一个计算GDP增长率的匿名函数
GDP_df[['2017', '2018']].apply(lambda x: '%.2f' % (
    (x['2018'] - x['2017']) / x['2017'] * 100) + '%',
                               axis=1)

0     7.20%
1     5.13%
2     5.06%
3     7.34%
4    12.40%
dtype: object

In [30]:
# applymap()函数可以认为是apply()函数的扩展，其功能是将自定义函数作用于DataFrame的所有元素 。
GDP_df.loc[:, '1960':'2018'].applymap(dollar_to_rmb)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0.50万亿人民币,0.53万亿人民币,0.56万亿人民币,0.59万亿人民币,0.64万亿人民币,0.70万亿人民币,0.74万亿人民币,0.76万亿人民币,0.72万亿人民币,0.78万亿人民币,...,16.47万亿人民币,16.88万亿人民币,18.13万亿人民币,18.47万亿人民币,18.95万亿人民币,20.88万亿人民币,19.99万亿人民币,18.33万亿人民币,18.19万亿人民币,19.50万亿人民币
1,3.74万亿人民币,3.88万亿人民币,4.17万亿人民币,4.40万亿人民币,4.73万亿人民币,5.13万亿人民币,5.62万亿人民币,5.94万亿人民币,6.50万亿人民币,7.03万亿人民币,...,99.24万亿人民币,103.38万亿人民币,106.82万亿人民币,111.65万亿人民币,115.78万亿人民币,120.61万亿人民币,125.43万亿人民币,128.88万亿人民币,134.39万亿人民币,141.28万亿人民币
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.41万亿人民币,10.48万亿人民币,14.13万亿人民币,15.23万亿人民币,15.85万亿人民币,14.20万亿人民币,9.37万亿人民币,8.82万亿人民币,10.89万亿人民币,11.44万亿人民币
3,0.43万亿人民币,0.47万亿人民币,0.53万亿人民币,0.59万亿人民币,0.65万亿人民币,0.70万亿人民币,0.76万亿人民币,0.82万亿人民币,0.90万亿人民币,0.97万亿人民币,...,18.54万亿人民币,18.19万亿人民币,19.71万亿人民币,18.47万亿人民币,19.37万亿人民币,19.64万亿人民币,16.82万亿人民币,17.02万亿人民币,17.85万亿人民币,19.16万亿人民币
4,0.41万亿人民币,0.34万亿人民币,0.33万亿人民币,0.35万亿人民币,0.41万亿人民币,0.49万亿人民币,0.53万亿人民币,0.50万亿人民币,0.49万亿人民币,0.55万亿人民币,...,35.15万亿人民币,41.97万亿人民币,52.03万亿人民币,58.79万亿人民币,65.95万亿人民币,71.67万亿人民币,75.81万亿人民币,76.50万亿人民币,83.39万亿人民币,93.73万亿人民币