In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [7]:
df=pd.read_excel('data_set/豆瓣电影数据.xlsx', sheet_name=0, header=0, index_col=0)

In [8]:
df.shape

(2876, 21)

In [9]:
df.columns

Index(['imdb_id', 'imdb_n_comment', 'imdb_score', 'name', 'rating_people',
       'score', '上映日期', '主演', '制片国家/地区', '又名', '导演', '片长', '类型', '编剧', '语言',
       '主演人数', 'r5', 'r4', 'r3', 'r2', 'r1'],
      dtype='object')

In [10]:
df.head()

,imdb_id,imdb_n_comment,imdb_score,name,rating_people,score,上映日期,主演,制片国家/地区,又名,...,片长,类型,编剧,语言,主演人数,r5,r4,r3,r2,r1
0,tt1587878,222.0,7.0,团圆,4247.0,7.6,2013-09-19(中国大陆) / 2010-02-11(柏林电影节),卢燕 / 凌峰 / 徐才根 / 马晓晴 / 莫小棋,中国大陆,Apart Together,...,97分钟,剧情 / 家庭,金娜 / 王全安,上海话 / 汉语普通话,5,0.177,0.497,0.283,0.034,0.008
1,tt1810602,999.0,6.0,非诚勿扰2,216051.0,6.5,2010-12-22(中国大陆),葛优 / 舒淇 / 孙红雷 / 姚晨 / 安以轩 / 邵兵 / 廖凡 / 邬逸聪 / 关晓...,中国大陆,不省心 / If You Are The One 2,...,120分钟,喜剧 / 爱情,王朔 / 冯小刚,汉语普通话,15,0.077,0.285,0.486,0.124,0.029
2,NaN,NaN,NaN,无蝉的夏天,1126.0,8.3,2010-03-19,吕聿来 / 田璐菡,中国大陆,At that Summer,...,94分钟,NaN,韦华,普通话/国语 / 四川话,2,0.357,0.459,0.169,0.009,0.006
3,tt1123373,8456.0,6.6,狄仁杰之通天帝国,138469.0,6.4,2010-09-29(中国大陆) / 2010-09-05(威尼斯电影节),刘德华 / 刘嘉玲 / 李冰冰 / 梁家辉 / 邓超 / 泰迪·罗宾 / 吴耀汉 / 姚橹...,中国大陆 / 香港,通天神探狄仁杰 / Detective Dee and the Mystery of th...,...,123分钟,剧情 / 动作 / 悬疑 / 犯罪 / 古装,张家鲁 / 陈国富,汉语普通话 / 粤语,10,0.044,0.270,0.543,0.122,0.022
4,tt2842698,12.0,6.2,我是植物人,1974.0,7.5,2010-10-15,李乃文 / 冯波,中国大陆,Vegetate,...,98分钟,剧情,谢晓东 / 周展,汉语普通话,2,0.158,0.486,0.321,0.030,0.006

In [11]:
# 数据清洗

data=df[['name', '导演', '主演']]
data.head()

       name    导演                                                 主演
0        团圆   王全安                          卢燕 / 凌峰 / 徐才根 / 马晓晴 / 莫小棋
1     非诚勿扰2   冯小刚   葛优 / 舒淇 / 孙红雷 / 姚晨 / 安以轩 / 邵兵 / 廖凡 / 邬逸聪 / 关晓...
2     无蝉的夏天    苗月                                          吕聿来 / 田璐菡
3  狄仁杰之通天帝国    徐克   刘德华 / 刘嘉玲 / 李冰冰 / 梁家辉 / 邓超 / 泰迪·罗宾 / 吴耀汉 / 姚橹...
4     我是植物人    王竞                                           李乃文 / 冯波

In [12]:
data.dropna(inplace=True)

In [13]:
# 主演分列
data_yy=data['主演'].str.split('/', expand=True)
col_len1=len(data_yy.columns)
data_yy.columns=['yy'+str(i) for i in range(col_len1)]
data_yy.head()

,yy0,yy1,yy2,yy3,yy4,yy5,yy6,yy7,yy8,yy9,...,yy55,yy56,yy57,yy58,yy59,yy60,yy61,yy62,yy63,yy64
0,卢燕,凌峰,徐才根,马晓晴,莫小棋,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,葛优,舒淇,孙红雷,姚晨,安以轩,邵兵,廖凡,邬逸聪,关晓彤,窦文涛,...,None,None,None,None,None,None,None,None,None,None
2,吕聿来,田璐菡,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,刘德华,刘嘉玲,李冰冰,梁家辉,邓超,泰迪·罗宾,吴耀汉,姚橹,刘金山,马今,...,None,None,None,None,None,None,None,None,None,None
4,李乃文,冯波,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
# 导演分裂
data_dy=data['导演'].str.split('/', expand=True)
col_len2=len(data_dy.columns)
data_dy.columns=['dy'+str(i) for i in range(col_len2)]
data_dy.head()

    dy0   dy1   dy2   dy3   dy4   dy5   dy6   dy7   dy8   dy9  dy10  dy11
0   王全安  None  None  None  None  None  None  None  None  None  None  None
1   冯小刚  None  None  None  None  None  None  None  None  None  None  None
2    苗月  None  None  None  None  None  None  None  None  None  None  None
3    徐克  None  None  None  None  None  None  None  None  None  None  None
4    王竞  None  None  None  None  None  None  None  None  None  None  None

In [15]:
# 数据合并
data2=data_dy.join(data_yy).join(data['name'])  # 横向合并
data2.head()

,dy0,dy1,dy2,dy3,dy4,dy5,dy6,dy7,dy8,dy9,...,yy56,yy57,yy58,yy59,yy60,yy61,yy62,yy63,yy64,name
0,王全安,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,团圆
1,冯小刚,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,非诚勿扰2
2,苗月,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,无蝉的夏天
3,徐克,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,狄仁杰之通天帝国
4,王竞,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,我是植物人

In [16]:
data2[data2['yy64'].notnull()]  # 可以看看分出64个演员的数据 → 海角七号

,dy0,dy1,dy2,dy3,dy4,dy5,dy6,dy7,dy8,dy9,...,yy56,yy57,yy58,yy59,yy60,yy61,yy62,yy63,yy64,name
2883,魏德圣,None,None,None,None,None,None,None,None,None,...,曾柏允,陈致臻,吴秋莲,何冠谊,高坤成,北村丰晴,关根直树,高嶋妙子,吴绣敏,海角七号 海角七號

In [17]:
# 数据拆分，再合并
# 创建空DF
data_re=pd.DataFrame(columns=['电影名','导演','演员'])

# 提取列名
col_yy=data_yy.columns
col_dy=data_dy.columns

In [18]:
for dy in col_dy:
    for yy in col_yy:
        data_i=data2[['name', dy, yy]].dropna()
        data_i.columns=['电影名','导演','演员']
        data_re=pd.concat([data_re, data_i])

data_re.head()
# 遍历数据后，得到一个导演与演员的关系数据，并做去重处理
# 这里index是有重复的，但作为过程数据可忽略

        电影名    导演     演员
0        团圆   王全安    卢燕
1     非诚勿扰2   冯小刚    葛优
2     无蝉的夏天    苗月   吕聿来
3  狄仁杰之通天帝国    徐克   刘德华
4     我是植物人    王竞   李乃文

In [19]:
data_re.shape

(21246, 3)

In [20]:
# 汇总统计导演和演员的合作次数
result=data_re.groupby(['导演','演员']).count()
result.reset_index(inplace=True)
result.head()

       导演     演员  电影名
0   (小)徐克    刘彬     1
1   (小)徐克    叶露     1
2   (小)徐克    姜玉玲    2
3   (小)徐克   孟祥龙     1
4   (小)徐克   张安琪     3

In [21]:
writer=pd.ExcelWriter(r'data_set/电影关系数据.xlsx')
result.to_excel(writer, 'sheet1')
writer.save()
print('finished!')

finished!