In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('eight_word.csv')
df.head()

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word
0,2023-01-01 00:30:00,2023,1,1,0,30,壬寅,壬子,己未,甲子,壬寅壬子己未甲子
1,2023-01-01 01:30:00,2023,1,1,1,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑
2,2023-01-01 02:30:00,2023,1,1,2,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑
3,2023-01-01 03:30:00,2023,1,1,3,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅
4,2023-01-01 04:30:00,2023,1,1,4,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅

In [17]:
def contain_fire(words):
    c = 0
    for w in words:
        if w in ('丙', '丁', '巳', '午'):
            c += 1
    if c >= 4:
        return True
    else:
        return False


def contain_fire_earth(words, num=4):
    c = 0
    for w in words:
        if w in ('丙', '丁', '巳', '午', '戊', '辰', '戌'):
            c += 1
    if c >= num:
        return True
    else:
        return False

def without_wood(words):
    for w in words:
        if w in ('甲', '乙', '寅', '卯'):
            return False
        else:
            return True

In [5]:
df['four_fire'] = df['eight_word'].apply(contain_fire)
df[df['four_fire'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True
...,...,...,...,...,...,...,...,...,...,...,...,...
26148,2025-12-25 12:30:00,2025,12,25,12,30,乙巳,戊子,丁巳,丙午,乙巳戊子丁巳丙午,True
26149,2025-12-25 13:30:00,2025,12,25,13,30,乙巳,戊子,丁巳,丁未,乙巳戊子丁巳丁未,True
26150,2025-12-25 14:30:00,2025,12,25,14,30,乙巳,戊子,丁巳,丁未,乙巳戊子丁巳丁未,True
26169,2025-12-26 09:30:00,2025,12,26,9,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True
26170,2025-12-26 10:30:00,2025,12,26,10,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True

In [6]:
df['four_fire_earth4'] = df['eight_word'].apply(contain_fire_earth)
df[df['four_fire_earth4'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4
223,2023-01-10 07:30:00,2023,1,10,7,30,壬寅,癸丑,戊辰,丙辰,壬寅癸丑戊辰丙辰,False,True
224,2023-01-10 08:30:00,2023,1,10,8,30,壬寅,癸丑,戊辰,丙辰,壬寅癸丑戊辰丙辰,False,True
225,2023-01-10 09:30:00,2023,1,10,9,30,壬寅,癸丑,戊辰,丁巳,壬寅癸丑戊辰丁巳,False,True
226,2023-01-10 10:30:00,2023,1,10,10,30,壬寅,癸丑,戊辰,丁巳,壬寅癸丑戊辰丁巳,False,True
227,2023-01-10 11:30:00,2023,1,10,11,30,壬寅,癸丑,戊辰,戊午,壬寅癸丑戊辰戊午,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26288,2025-12-31 08:30:00,2025,12,31,8,30,乙巳,戊子,癸亥,丙辰,乙巳戊子癸亥丙辰,False,True
26289,2025-12-31 09:30:00,2025,12,31,9,30,乙巳,戊子,癸亥,丁巳,乙巳戊子癸亥丁巳,False,True
26290,2025-12-31 10:30:00,2025,12,31,10,30,乙巳,戊子,癸亥,丁巳,乙巳戊子癸亥丁巳,False,True
26291,2025-12-31 11:30:00,2025,12,31,11,30,乙巳,戊子,癸亥,戊午,乙巳戊子癸亥戊午,False,True
26292,2025-12-31 12:30:00,2025,12,31,12,30,乙巳,戊子,癸亥,戊午,乙巳戊子癸亥戊午,False,True

In [7]:
df['four_fire_earth6'] = df.apply(lambda row: contain_fire_earth(row['eight_word'], 6), axis=1)
df[df['four_fire_earth6'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6
2383,2023-04-10 07:30:00,2023,4,10,7,30,癸卯,丙辰,戊戌,丙辰,癸卯丙辰戊戌丙辰,False,True,True
2384,2023-04-10 08:30:00,2023,4,10,8,30,癸卯,丙辰,戊戌,丙辰,癸卯丙辰戊戌丙辰,False,True,True
2385,2023-04-10 09:30:00,2023,4,10,9,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True
2386,2023-04-10 10:30:00,2023,4,10,10,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True
2387,2023-04-10 11:30:00,2023,4,10,11,30,癸卯,丙辰,戊戌,戊午,癸卯丙辰戊戌戊午,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26168,2025-12-26 08:30:00,2025,12,26,8,30,乙巳,戊子,戊午,丙辰,乙巳戊子戊午丙辰,False,True,True
26169,2025-12-26 09:30:00,2025,12,26,9,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True
26170,2025-12-26 10:30:00,2025,12,26,10,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True
26171,2025-12-26 11:30:00,2025,12,26,11,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True
26172,2025-12-26 12:30:00,2025,12,26,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True

In [8]:
df[(df['four_fire_earth6'] == True) | (df['four_fire'] == True)]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26168,2025-12-26 08:30:00,2025,12,26,8,30,乙巳,戊子,戊午,丙辰,乙巳戊子戊午丙辰,False,True,True
26169,2025-12-26 09:30:00,2025,12,26,9,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True
26170,2025-12-26 10:30:00,2025,12,26,10,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True
26171,2025-12-26 11:30:00,2025,12,26,11,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True
26172,2025-12-26 12:30:00,2025,12,26,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True

In [9]:
df.shape

(26304, 14)

In [14]:
pay = pd.read_csv('pay_log.csv')
pay.head()

   name  times  year_to_day  hour_to_second  is_guarantee eight_word
0  夜兰二命     80     20230228          114147             0   癸卯甲寅丁巳丙午
1  夜兰一命     75     20230228          112707             0   癸卯甲寅丁巳丙午
2    夜兰     78     20230208          114330             0   癸卯甲寅丁酉丙午
3  莫娜一命     25     20230208          113007             1   癸卯甲寅丁酉丙午
4  雷电将军     32     20221230          114152             0   壬寅壬子壬戌丙午

In [15]:
pay[pay['is_guarantee']==1]

     name  times  year_to_day  hour_to_second  is_guarantee eight_word
3    莫娜一命     25     20230208          113007             1   癸卯甲寅丁酉丙午
5    刻晴一命     26     20221103          115039             1   壬寅庚戌乙丑壬午
7      刻睛     76     20221103          114839             1   壬寅庚戌乙丑壬午
9       琴     46     20221103          113551             1   壬寅庚戌乙丑壬午
11  迪卢克二命     82     20220923          102312             1   壬寅己酉甲申己巳
18    迪卢克     78     20220901          102500             1   壬寅戊申壬戌乙巳

In [ ]:
# 问题：乙

In [18]:
df['day_without_wood'] = df['day_word'].apply(without_wood)
df[df['day_without_wood'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,day_without_wood
0,2023-01-01 00:30:00,2023,1,1,0,30,壬寅,壬子,己未,甲子,壬寅壬子己未甲子,False,False,False,True
1,2023-01-01 01:30:00,2023,1,1,1,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑,False,False,False,True
2,2023-01-01 02:30:00,2023,1,1,2,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑,False,False,False,True
3,2023-01-01 03:30:00,2023,1,1,3,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅,False,False,False,True
4,2023-01-01 04:30:00,2023,1,1,4,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,2025-12-31 19:30:00,2025,12,31,19,30,乙巳,戊子,癸亥,壬戌,乙巳戊子癸亥壬戌,False,False,False,True
26300,2025-12-31 20:30:00,2025,12,31,20,30,乙巳,戊子,癸亥,壬戌,乙巳戊子癸亥壬戌,False,False,False,True
26301,2025-12-31 21:30:00,2025,12,31,21,30,乙巳,戊子,癸亥,癸亥,乙巳戊子癸亥癸亥,False,False,False,True
26302,2025-12-31 22:30:00,2025,12,31,22,30,乙巳,戊子,癸亥,癸亥,乙巳戊子癸亥癸亥,False,False,False,True
26303,2025-12-31 23:30:00,2025,12,31,23,30,乙巳,戊子,癸亥,甲子,乙巳戊子癸亥甲子,False,False,False,True

In [20]:
df_filter=df[((df['four_fire_earth6'] == True) | (df['four_fire'] == True)) & (df['day_without_wood'] == True)]
df_filter

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,day_without_wood
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,True
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,True
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,True
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,True
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26168,2025-12-26 08:30:00,2025,12,26,8,30,乙巳,戊子,戊午,丙辰,乙巳戊子戊午丙辰,False,True,True,True
26169,2025-12-26 09:30:00,2025,12,26,9,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True,True
26170,2025-12-26 10:30:00,2025,12,26,10,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True,True,True,True
26171,2025-12-26 11:30:00,2025,12,26,11,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True
26172,2025-12-26 12:30:00,2025,12,26,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True

In [22]:
df_filter.to_csv('filter_eight_word.csv', header=True, index=False)