In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('eight_word_new.csv')
df.head()

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word
0,2023-01-01 00:30:00,2023,1,1,0,30,壬寅,壬子,己未,甲子,壬寅壬子己未甲子
1,2023-01-01 01:30:00,2023,1,1,1,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑
2,2023-01-01 02:30:00,2023,1,1,2,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑
3,2023-01-01 03:30:00,2023,1,1,3,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅
4,2023-01-01 04:30:00,2023,1,1,4,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅

In [23]:
def contain_fire(words):
    c = 0
    for w in words:
        if w in ('丙', '丁', '巳', '午'):
            c += 1
    if c >= 4:
        return True
    else:
        return False


def contain_fire_earth(words, num=4):
    c = 0
    for w in words:
        if w in ('丙', '丁', '巳', '午', '戊', '辰', '戌'):
            c += 1
    if c >= num:
        return True
    else:
        return False


def contain_fire_earth_dedup(words, num=4):
    c = 0
    for w in words:
        if w in ('丙', '丁', '巳', '午', '戊', '辰', '戌'):
            c += 1
    for l in ('戊', '辰', '戌'):
        if words.count(l) == 2:
            c -= 1
    if c >= num:
        return True
    else:
        return False


def without_wood(words):
    for w in words:
        if w in ('甲', '乙', '寅', '卯', '庚', '辛', '申', '酉'):
            return False
        else:
            return True

In [24]:
df['four_fire'] = df['eight_word'].apply(contain_fire)
df[df['four_fire'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True
...,...,...,...,...,...,...,...,...,...,...,...,...
25886,2025-12-14 14:30:00,2025,12,14,14,30,乙巳,戊子,丁巳,丁未,乙巳戊子丁巳丁未,True
25905,2025-12-15 09:30:00,2025,12,15,9,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True
25906,2025-12-15 10:30:00,2025,12,15,10,30,乙巳,戊子,戊午,丁巳,乙巳戊子戊午丁巳,True
26123,2025-12-24 11:30:00,2025,12,24,11,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True
26124,2025-12-24 12:30:00,2025,12,24,12,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True

In [25]:
df['four_fire_earth4'] = df['eight_word'].apply(contain_fire_earth)
df[df['four_fire_earth4'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4
223,2023-01-10 07:30:00,2023,1,10,7,30,壬寅,癸丑,戊辰,丙辰,壬寅癸丑戊辰丙辰,False,True
224,2023-01-10 08:30:00,2023,1,10,8,30,壬寅,癸丑,戊辰,丙辰,壬寅癸丑戊辰丙辰,False,True
225,2023-01-10 09:30:00,2023,1,10,9,30,壬寅,癸丑,戊辰,丁巳,壬寅癸丑戊辰丁巳,False,True
226,2023-01-10 10:30:00,2023,1,10,10,30,壬寅,癸丑,戊辰,丁巳,壬寅癸丑戊辰丁巳,False,True
227,2023-01-10 11:30:00,2023,1,10,11,30,壬寅,癸丑,戊辰,戊午,壬寅癸丑戊辰戊午,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26291,2025-12-31 11:30:00,2025,12,31,11,30,乙巳,戊子,甲戌,庚午,乙巳戊子甲戌庚午,False,True
26292,2025-12-31 12:30:00,2025,12,31,12,30,乙巳,戊子,甲戌,庚午,乙巳戊子甲戌庚午,False,True
26299,2025-12-31 19:30:00,2025,12,31,19,30,乙巳,戊子,甲戌,甲戌,乙巳戊子甲戌甲戌,False,True
26300,2025-12-31 20:30:00,2025,12,31,20,30,乙巳,戊子,甲戌,甲戌,乙巳戊子甲戌甲戌,False,True
26303,2025-12-31 23:30:00,2025,12,31,23,30,乙巳,戊子,甲戌,丙子,乙巳戊子甲戌丙子,False,True

In [26]:
df['four_fire_earth6'] = df.apply(lambda row: contain_fire_earth(row['eight_word'], 6), axis=1)
df[df['four_fire_earth6'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6
2383,2023-04-10 07:30:00,2023,4,10,7,30,癸卯,丙辰,戊戌,丙辰,癸卯丙辰戊戌丙辰,False,True,True
2384,2023-04-10 08:30:00,2023,4,10,8,30,癸卯,丙辰,戊戌,丙辰,癸卯丙辰戊戌丙辰,False,True,True
2385,2023-04-10 09:30:00,2023,4,10,9,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True
2386,2023-04-10 10:30:00,2023,4,10,10,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True
2387,2023-04-10 11:30:00,2023,4,10,11,30,癸卯,丙辰,戊戌,戊午,癸卯丙辰戊戌戊午,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26144,2025-12-25 08:30:00,2025,12,25,8,30,乙巳,戊子,戊辰,丙辰,乙巳戊子戊辰丙辰,False,True,True
26145,2025-12-25 09:30:00,2025,12,25,9,30,乙巳,戊子,戊辰,丁巳,乙巳戊子戊辰丁巳,False,True,True
26146,2025-12-25 10:30:00,2025,12,25,10,30,乙巳,戊子,戊辰,丁巳,乙巳戊子戊辰丁巳,False,True,True
26147,2025-12-25 11:30:00,2025,12,25,11,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True
26148,2025-12-25 12:30:00,2025,12,25,12,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True

In [27]:
df['four_fire_earth6_dedup'] = df.apply(lambda row: contain_fire_earth_dedup(row['eight_word'], 6), axis=1)
df[df['four_fire_earth6_dedup'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,four_fire_earth6_dedup
2385,2023-04-10 09:30:00,2023,4,10,9,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True,True
2386,2023-04-10 10:30:00,2023,4,10,10,30,癸卯,丙辰,戊戌,丁巳,癸卯丙辰戊戌丁巳,False,True,True,True
2587,2023-04-18 19:30:00,2023,4,18,19,30,癸卯,丙辰,丙午,戊戌,癸卯丙辰丙午戊戌,False,True,True,True
2588,2023-04-18 20:30:00,2023,4,18,20,30,癸卯,丙辰,丙午,戊戌,癸卯丙辰丙午戊戌,False,True,True,True
2843,2023-04-29 11:30:00,2023,4,29,11,30,癸卯,丙辰,丁巳,丙午,癸卯丙辰丁巳丙午,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25884,2025-12-14 12:30:00,2025,12,14,12,30,乙巳,戊子,丁巳,丙午,乙巳戊子丁巳丙午,True,True,True,True
25907,2025-12-15 11:30:00,2025,12,15,11,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True
25908,2025-12-15 12:30:00,2025,12,15,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True
26147,2025-12-25 11:30:00,2025,12,25,11,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True
26148,2025-12-25 12:30:00,2025,12,25,12,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True

In [28]:
df[(df['four_fire_earth6_dedup'] == True) | (df['four_fire'] == True)]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,four_fire_earth6_dedup
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,False
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,False
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,False
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,False
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25908,2025-12-15 12:30:00,2025,12,15,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True
26123,2025-12-24 11:30:00,2025,12,24,11,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True,True,False,False
26124,2025-12-24 12:30:00,2025,12,24,12,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True,True,False,False
26147,2025-12-25 11:30:00,2025,12,25,11,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True
26148,2025-12-25 12:30:00,2025,12,25,12,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True

In [29]:
df.shape

(26304, 15)

In [30]:
pay = pd.read_csv('pay_log.csv')
pay.head()

   name  times  year_to_day  hour_to_second  is_guarantee eight_word
0  夜兰二命     80     20230228          114147             0   癸卯甲寅丁巳丙午
1  夜兰一命     75     20230228          112707             0   癸卯甲寅丁巳丙午
2    夜兰     78     20230208          114330             0   癸卯甲寅丁酉丙午
3  莫娜一命     25     20230208          113007             1   癸卯甲寅丁酉丙午
4  雷电将军     32     20221230          114152             0   壬寅壬子丁巳丙午

In [31]:
pay[pay['is_guarantee'] == 1]

     name  times  year_to_day  hour_to_second  is_guarantee eight_word
3    莫娜一命     25     20230208          113007             1   癸卯甲寅丁酉丙午
5    刻晴一命     26     20221103          115039             1   壬寅庚戌庚申壬午
7      刻睛     76     20221103          114839             1   壬寅庚戌庚申壬午
9       琴     46     20221103          113551             1   壬寅庚戌庚申壬午
11  迪卢克二命     82     20220923          102312             1   壬寅己酉己卯己巳
18    迪卢克     78     20220901          102500             1   壬寅戊申丁巳乙巳

In [32]:
# 问题：乙庚申

In [33]:
df['day_without_wood'] = df['day_word'].apply(without_wood)
df[df['day_without_wood'] == True]

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,four_fire_earth6_dedup,day_without_wood
0,2023-01-01 00:30:00,2023,1,1,0,30,壬寅,壬子,己未,甲子,壬寅壬子己未甲子,False,False,False,False,True
1,2023-01-01 01:30:00,2023,1,1,1,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑,False,False,False,False,True
2,2023-01-01 02:30:00,2023,1,1,2,30,壬寅,壬子,己未,乙丑,壬寅壬子己未乙丑,False,False,False,False,True
3,2023-01-01 03:30:00,2023,1,1,3,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅,False,False,False,False,True
4,2023-01-01 04:30:00,2023,1,1,4,30,壬寅,壬子,己未,丙寅,壬寅壬子己未丙寅,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26275,2025-12-30 19:30:00,2025,12,30,19,30,乙巳,戊子,癸酉,壬戌,乙巳戊子癸酉壬戌,False,False,False,False,True
26276,2025-12-30 20:30:00,2025,12,30,20,30,乙巳,戊子,癸酉,壬戌,乙巳戊子癸酉壬戌,False,False,False,False,True
26277,2025-12-30 21:30:00,2025,12,30,21,30,乙巳,戊子,癸酉,癸亥,乙巳戊子癸酉癸亥,False,False,False,False,True
26278,2025-12-30 22:30:00,2025,12,30,22,30,乙巳,戊子,癸酉,癸亥,乙巳戊子癸酉癸亥,False,False,False,False,True
26279,2025-12-30 23:30:00,2025,12,30,23,30,乙巳,戊子,癸酉,甲子,乙巳戊子癸酉甲子,False,False,False,False,True

In [38]:
df_filter = df[((df['four_fire_earth6_dedup'] == True) | (df['four_fire'] == True)) & (df['day_without_wood'] == True)]
df_filter

,datetime,year,month,day,hour,minute,year_word,month_word,day_word,hour_word,eight_word,four_fire,four_fire_earth4,four_fire_earth6,four_fire_earth6_dedup,day_without_wood
1403,2023-02-28 11:30:00,2023,2,28,11,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,False,True
1404,2023-02-28 12:30:00,2023,2,28,12,30,癸卯,甲寅,丁巳,丙午,癸卯甲寅丁巳丙午,True,True,False,False,True
2265,2023-04-05 09:30:00,2023,4,5,9,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,False,True
2266,2023-04-05 10:30:00,2023,4,5,10,30,癸卯,丙辰,癸巳,丁巳,癸卯丙辰癸巳丁巳,True,True,False,False,True
2363,2023-04-09 11:30:00,2023,4,9,11,30,癸卯,丙辰,丁酉,丙午,癸卯丙辰丁酉丙午,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25908,2025-12-15 12:30:00,2025,12,15,12,30,乙巳,戊子,戊午,戊午,乙巳戊子戊午戊午,False,True,True,True,True
26123,2025-12-24 11:30:00,2025,12,24,11,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True,True,False,False,True
26124,2025-12-24 12:30:00,2025,12,24,12,30,乙巳,戊子,丁卯,丙午,乙巳戊子丁卯丙午,True,True,False,False,True
26147,2025-12-25 11:30:00,2025,12,25,11,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True,True
26148,2025-12-25 12:30:00,2025,12,25,12,30,乙巳,戊子,戊辰,戊午,乙巳戊子戊辰戊午,False,True,True,True,True

In [39]:
df_filter.to_csv('filter_eight_word.csv', header=True, index=False)